h1 {
  color: #02ccba;
  font-size: 150px;
  background-color:#FFFFCC;
}

h2 {
  color: #0000ff;
  font-size: 80px;
}

h3 {
  color: #008000;
  font-size: 50px;

div {
  background-image: url(https://github.com/moko0118/github.io/blob/main/top.);
}

li {
  float: wright;
  font-size: 25px;
  color: purple;
}
