h1 {
  color: #02ccba;
  font-size: 150px;
  background-color:#FFFFCC;
}

h2 {
  color: #0000ff;
  font-size: 60px;
}

div {
  background-image: url(https://images.unsplash.com/photo-1667749391793-e7d15e8ccb47?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1548&q=80;
}

li {
  float: wright;
  font-size: 25px;
  color: purple;
}
