h1 {
  color: #02ccba;
  font-size: 150px;
  background-color:#FFFFCC;
}

h2 {
  color: #0000ff;
  font-size: 60px;
}

div {
  background-image: url(https://unsplash.com/ja/%E5%86%99%E7%9C%9F/OLMkBXnLEwE);
}

li {
  float: wright;
  font-size: 25px;
  color: purple;
}
